<body>
<form action="/figures" method="POST">

  <input type="text" name="figure[name]" id="figure_name">
 

 
  <%@titles.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%></input>
  <%end%>
  
   <%@landmarks.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>"><%=landmark.name%></input>
  <%end%>

  

      <input  type="text" name="landmark[name]" id="new_landmark">
      
      <input  type="text" name="title[name]" id="new_title">

      

    <input type="submit" value="Create New Figure" >
    
  </body>

  